.button-wrapper {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-weight: lighter;
    background-color: #e0e1e6;
    color: #000000;
    flex: 1;
    margin: 5px;
    border-radius: 25px;
    cursor: pointer;
}

.button-wrapper:hover {
    background-color: #f27518;
  }

.button-wrapper:active {
    background-color: #f27518;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.operator {
    background-color: #fe9241;
    color: #ffffff;
}